{% extends "general/home.html" %}

{{ form.media.css }}

{% load static %}

{% block localcss %}
	<link rel="stylesheet" href="{% static 'assets/css/color-switcher.css' %}" type="text/css">

{% endblock %}

{% block localbody %}
	 <div class="page-header" style="background: url({% static 'assets/img/banner1.jpg' %});">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-wrapper">
						<h2 class="product-title">Mi cuenta</h2>
						<ol class="breadcrumb">
							<li>
								<a href="{% url 'home' %}"><i class="ti-home"></i> Home</a>
							</li>
							<li class="current">Mi cuenta</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>


<div id="content">
	<div class="container">
		<div class="row">
			<!-- Laterar nav -->
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="right-sideabr">
					<div class="inner-box">
						<h4 class="widget-title">Mi cuenta</h4>
						<ul class="lest item">
						<li><a href="{% url 'my_account' %}">Mi perfil</a></li>
						<li><a class="active" href="{% url 'my_projects' %}">Mis proyectos</a></li>
						<li><a href="{% url 'my_account_change_password' %}">Cambiar contraseña</a></li>
						<li><a href="{% url 'log_out' %}">Cerrar sesión</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-9 col-sm-9 col-xs-12">
				
				{% if messages %}
					{% for m in messages %}
						<div class="alert {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif%} {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif%}">{{m}}</div>
					{% endfor %}
				{% endif %}

				<h5 class="widget-title">Buscar proyecto</h5>
				<div class="container">
		          <div class="row">
		            <div class="col-md-12">
		              <div class="content">
		              	<div class="row">
			                <form method="get" action="" id="form">
			                    <div class="col-md-3 col-sm-6">
			                      <div class="form-group">
			                        <input class="form-control" type="search" placeholder="Palabra clave" name="search">
			                      </div>
			                    </div>
			                    <div class="col-md-3 col-sm-6">
			                      <div class="search-category-container">
			                        <label class="styled-select">
			                          <select class="dropdown-product selectpicker" name="provider">
			                            <option value="0">Todos los proveedores</option>
			                            <option value="2">IBM Watson</option>
			                            <option value="1">Microsoft Cognitive Services</option>
			                            <option value="3">Google</option>
			                          </select>
			                        </label>
			                      </div>
			                    </div>
			                    <div class="col-md-1 col-sm-6">
			                      <button type="submit" class="btn btn-search-icon" style="width: 100%;"><i class="ti-search"></i></button>
			                    </div>
			                </form>
			                <div class="col-md-2">
			                	<a href="{% url 'my_project_create' %}">
				            	<button class="btn btn-search-icon" style="background-color: #94c523; width: 100%;" >
				            		<i class="ti-plus"></i>
				            	</button>
				            	</a>
				            </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
				
				<div class="infinite-container">
					{% for p in projects %}
					<div class="infinite-item">
						<div class="job-list">
			                <div class="job-list-content" style="margin-left: 0 !important;">
			                  <div class="row">
			                  	<div class="col-md-12">
			                  		<h4>
			                  			<a href="">{{p.name}}</a>
			                  			<a class="pull-right" href="#"">
			                  				<i class="ti-trash"></i>
			                  			</a>
			                  			<a class="pull-right" href="{% url 'my_project_update' p.id %}" style="margin-right: 10px !important;">
			                  				<i class="ti-pencil"></i>
			                  			</a>
			                  			<a class="pull-right" href="#" style="margin-right: 10px !important;">
			                  				<i class="ti-eye"></i>
			                  			</a>
			                  		</h4>
			                  	</div>
			                  	<div class="col-md-12">
			                  		<h4 class="widget-title">
			                  			{% if p.providers.all %}
			                  				{% for provider in p.providers.all%}
			                  				<span class="part-time" style="background-color: #FF9D02 !important">{{provider.name}}</span>
			                  				{% endfor %}
			                  			{% endif %}
			                  			{% if p.services.all %}
			                  				{% for service in p.services.all %}
			                  				<span class="part-time" style="background-color: #94c523 !important">{{service.name}}</span>
			                  				{% endfor %}
			                  			{% endif %}
			                  			{% if p.tags.all %}
			                  				{% for tag in p.tags.all %}
			                  					<span class="part-time">{{tag.name}}</span>
			                  				{% endfor %}
			                  			{% endif %}
			                  		</h4>
			                  	</div>
			                  </div>
			                  <p>{{p.description}}</p>
			                  <div class="job-tag">
			                    <div class="pull-left">
			                      <div class="meta-tag">
			                       <span><i class="ti-time"></i>Registro: {{p.created_at.date}}</span>
			                       <span><i class="ti-time"></i>Actualización: {{p.created_at.date}}</span>
			                       <span><i class="ti-heart"></i>Favorito: {{p.vote_score}}</span>
			                      </div>
			                    </div>
			                    <div class="pull-right">
			                      <a class="btn btn-common btn-rm" href="{{p.url}}">Ver Proyecto</a>
			                    </div>
			                  </div>
			                </div>
			              </div>
						</div>
					{% endfor %}
				</div>
				
				{% if projects.has_next %}
				    <a class="infinite-more-link" href="?page={{ projects.next_page_number }}">More</a>
				 {% endif %}
			</div>
		</div>
	</div>
</div>

	<a href="#" class="back-to-top" style="display: none;">
		<i class="ti-arrow-up"></i>
	</a>
{% endblock %}

{% block localscripts %}
	<script type="text/javascript" src="{% static 'assets/js/jquery-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.waypoints.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/infinite.js' %}"></script>	 
	<script>
		var infinite = new Waypoint.Infinite({
			element: $('.infinite-container')[0]
		});
	</script>
{% endblock %}


