{% extends "general/home.html" %}

{{ form.media.css }}

{% load static %}

{% block localcss %}

{% endblock %}

{% block localbody %}
	<div class="page-header" style="background: url({% static 'assets/img/banner1.jpg' %});">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-wrapper">
						<h2 class="product-title">Colaborador</h2>
						<ol class="breadcrumb">
							<li><a href="{% url 'home' %}"><i class="ti-home"></i> Home</a></li>
							<li class="current">Colaborador</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="content">
		<div class="container">
			<div class="row">
				<aside id="sidebar" class="col-md-3 right-sidebar">
					<div class="widget widget-categories">
						<img src="{{collaborator.avatar.url}}" style="width: 100%">

						<h3 class="">{{collaborator.user.first_name}} {{collaborator.user.last_name}}</h3>
						<h4 class="widget-title"><a href="{% url 'collaborator' collaborator.pk %}">{{collaborator.user.username}}</a></h4>
						<ul class="posts-list">
							<li>
								<div class="widget-content">
									<a href="#">{{collaborator.description}}</a>
									<span><i class="icon-calendar"></i> Activo desde el {{collaborator.created_at.date}}</span>
								</div>
								<div class="clearfix"></div>
							</li>
							<li>
								<div class="widget-content">
									<span class="location"><i class="ti-location-pin"></i> Location</span>
									<span class="rate"><i class="ti-email"></i>{{collaborator.user.email}}</span>
								</div>
								<div class="clearfix"></div>
							</li>
						</ul>
						
					</div>
				</aside>


				<div class="col-md-9">
					<h5 class="widget-title">Buscar proyecto</h5>
					<div class="container">
			          <div class="row">
			            <div class="col-md-12">
			              <div class="content">
			                <form method="get" action="" id="form">
			                  <div class="row">
			                    <div class="col-md-4 col-sm-6">
			                      <div class="form-group">
			                        <input class="form-control" type="search" placeholder="Palabra clave" name="search">
			                      </div>
			                    </div>
			                    <div class="col-md-4 col-sm-6">
			                      <div class="search-category-container">
			                        <label class="styled-select">
			                          <select class="dropdown-product selectpicker" name="provider">
			                            <option>Todos los proveedores</option>
			                            <option>IBM</option>
			                            <option>Microsoft</option>
			                            <option>Google</option>
			                          </select>
			                        </label>
			                      </div>
			                    </div>
			                    <div class="col-md-1 col-sm-6">
			                      <button type="submit" class="btn btn-search-icon"><i class="ti-search"></i></button>
			                    </div>
			                  </div>
			                </form>
			              </div>
			            </div>
			          </div>
			        </div>
					
					<div class="blog-post">
						<div class="post-thumb">
							<a href="#"><img src="{% static 'assets/img/blog/blog1.jpg' %}" alt=""></a>
							<div class="hover-wrap">
							</div>
						</div>
						<div class="blog-author">
							<img src="{% static 'assets/img/blog/author.jpg' %}" alt="">
						</div>
						<div class="post-content">
							<h3 class="post-title"><a href="#">Let's explore 5 cool new features in JobBoard theme</a></h3>
							<div class="meta">
								<span class="meta-part"><a href="#"><i class="ti-user"></i> By Admin</a></span>
								<span class="meta-part"><i class="ti-calendar"></i><a href="#"> 20.02.2018</a></span>
								<span class="meta-part"><a href="#"><i class="ti-comment-alt"></i> 5Comments</a></span>
							</div>
							<p>Fusce fermentum ipsum mauris, rutrum ultrices ligula sodales et. Maecenas pellentesque aliquet arcu, vel elementum magna facilisis vitae. Nam in cursus lorem. Donec ac tellus nisl. Sed volutpat quis orci nec placerat. Fusec ex magna, congue sed vulpu-tate rhoncus, laoreet nec sapien.</p>
							<a href="#" class="btn btn-common">Read More</a>
						</div>
					</div>
					

					<ul class="pagination">
						<li class="active"><a href="#" class="btn btn-common"><i class="ti-angle-left"></i> prev</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li class="active"><a href="#" class="btn btn-common">Next <i class="ti-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

				
	
	<a href="#" class="back-to-top" style="display: none;">
		<i class="ti-arrow-up"></i>
	</a>
{% endblock %}

{% block localscripts %}
	
{% endblock %}


