{% extends 'general/home.html' %}

{% block localbody %}
  <div id="content" class="my-account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
          <div class="my-account-form">
            <ul class="cd-switcher">
            <li><a class="selected" href="#">RECUPERAR CONTRASEÑA</a></li>
            </ul>

            <div id="cd-login" class="is-selected">
              <div class="page-login-form">
              <h3>Su contraseña ha sido establecida. Puede continuar y <a href="{% url 'log_in' %}" style="color: #07BEFA"> iniciar sesión </a> ahora.</h3>
              </div>
            </div> 

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}